#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}
body{
  background-image: linear-gradient(to left, #e3e3e3, #e5e5e8, #e7e7ec, #e8eaf1, #e9ecf6, #e6ecf6, #e3ebf5, #e0ebf4, #dbe7ed, #d7e3e7, #d3dfe0, #d0dada);
}

.container{
background: #fff;
}


